#articol{
		width: 83%;
		margin-left: 2%;
		font-size: 140%;
}

.menu_left ul li {
	margin-top: 2%;
}

#articol h1{
	font-size: 160%;
	text-align: center;
}

#articol img{
	display: block;
	margin: auto;
	width: 55%;
}

#articol h2,
#articol h3{
	text-align: center;
}

#articol h3{
	margin-bottom: 5px;
}

#video{
	display: block;
	margin: auto;
	margin-bottom: 2%;
}