

html{
	background-color: #FFF;
	font-family: Arial;
	width: 98vw;
	height: 98vh;
}


#first{
	margin-top: -2vh;
	width:60vw;
	background-color: #FFF;
	margin-left: auto;
    margin-right: auto;
}

#general{
	background-color: #c0e1ed;
	background-size: cover;
	padding: 2vw 2vh;
	width:87vw;	
	margin-left: auto;
    margin-right: auto;

}

#totop{
	position: absolute; 
	position: fixed;
	height: 7%;
  	top: 80%; 
   	left: 95%; 
}


.art_conteiner{
	display: inline-block;
	width: 48vw;	
	padding: 1vh 1vw;
	vertical-align: top;
	font-size: 1.3vw;
}


.img_r{
	width: 35vh;
}

.menu_left{
	list-style: none;
	background-color: #FFF; 
	width: 12vw;
	border: 2px solid #FFF;
	border-radius: 7px;
	display: inline-block;
}

.menu_left li a:hover {
    color: red;
}

#page_map{
	padding-left: 0.9vw;
	font-size: 1.6vw;
	font-weight: bold;
	margin-bottom: 2vh;
	text-decoration: underline;
}

.menu_left ul{
	text-decoration: none;
	padding-left: 0.7vw;
	list-style: none;
}

.menu_left ul li {
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}

.menu_left ul li a{
	text-decoration: none;
	font-size: 1.4vw;
	color: black;
}

#articol{
	display: inline-block;
	width: 72vw;
	vertical-align: top;
	margin-top: -0.8%;
}

article{
	margin-left: 20vw;
	background-color: #ffffff;
	width: 74vw;
	margin: 1vw 1vh;
	border-radius: 1vh;
	display: inline-block;

}


.button{
	margin-left: 38vw;
	width: 8vw;
	padding: 0.1vw 0.1vh;
	border-radius: 5px;
	background-color: #262323;
	margin-bottom: 1vh

}

.button a{
	color: #FFF;
	display: block;
	padding: 0.3vw 0.3vh;
	text-align: center;
	text-decoration: none;
}
