html{
	background-color: #deecfc;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
}

nav{
	padding-bottom: 3%;
}

#first{
	margin-top: -2%;
	min-width: 40%;
	max-width: 100%;
	width: auto;
	background-color: #FFF;
	background-size: cover;
	margin-left: auto;
    margin-right: auto;
}

#general{
	background-color: #c0e1ed;
	background-size: cover;
	margin: 10px;
	padding: 20px;
	min-width: 40%;
	max-width: 1600px;
	width: auto;	
	margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
}

.menu{
	position: fixed;
	margin-top: -45px;
    margin-left: -2%;
    padding: 0;
    width: 103%;
    background-color: #161616;
    border: 3px solid #161616;
    border-bottom: 5px solid #0ea8ce;
    font-weight: bold;	
}

.menu2{
	min-width: 40%;
	max-width: 1500px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	list-style: none;
    padding: 0;
    font-weight: bold;	
    margin-bottom: 0;
}

#logo{
	margin-left:4%;
	margin-right: 4%;
	width: 15%;
	height: 80%;
}

#logoimg{
	margin: -4%;
	padding: 0;
}

.menu li {
	margin-top: 1.23%;
	padding: 0;
	display: inline-block;
	max-width: 15%;
	min-width: 12%;
    width: auto;
    text-align: center;
}

.menu li a{
	color: #FFF;
	display: block;
	padding: 4% 4%;
	font-size: 125%;
	text-decoration: none;
}

.menu li a:hover {
    background-color: #262626;
    color: #FFD999;
}

.active {
    background-color: #1faf00;
    color:  #f7c759;
    text-decoration:underline;
}

#totop{
	position: absolute; 
	position: fixed;
	height: 7%;
  	top: 80%; 
   	left: 95%; 
}

footer{
	height: 4%;
	border: 2px solid black;
    padding: 0%;
    width: 100.9%;
	background-color: #000000;
	margin-left: -1%;
	top: 96%;
	position: fixed;
}

footer p {

	margin-top: auto;
	margin-bottom: auto;
	color: white;
	text-align: center;
}

#h1{
	text-align: center;
	font-size: 80px;
	padding: 0;
	margin: -1%;	
}
.art_conteiner{
	display: inline-block;
	width: 70%;	
	padding: 1%;
	vertical-align: top;
	font-size: 120%;
}

.img_r{
	width: 25%;
}

#banner_r{
	margin-top: 1%;
	min-width: 20%;
	max-width: 100%;
	width: auto;
  	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-radius: 7px;
}

.menu_left{
	list-style: none;
	background-color: #FFF; 
	width: 14%;
	border: 2px solid #FFF;
	border-radius: 7px;
	display: inline-block;
}

.menu_left li a:hover {
    color: red;
}

#page_map{
	padding-left: 10%;
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 7%;
	text-decoration: underline;
}

.menu_left ul{
	text-decoration: none;
	padding-left: 13%;
	list-style: none;
}

.menu_left ul li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.menu_left ul li a{
	text-decoration: none;
	font-size: 115%;
	color: black;
}

#articol{
	display: inline-block;
	width: 85%;
	vertical-align: top;
	margin-top: -0.8%;
}

article{
	margin-left: 20%;
	background-color: #ffffff;
	margin: 1%;
	border-radius: 5px;
}

section{
	margin-right: -1.5%;
}

.button{
	margin-left: 90%;
	width: 11%;
	padding: 0.5%;
	border-radius: 5px;
	background-color: #262323;
}

.button a{
	color: #FFF;
	display: block;
	padding: 1%;
	text-align: center;
	text-decoration: none;
}
