#articol{
		width: 70vw;
		margin-left: 2vw;
		font-size: 1.3vw;
}

.menu_left ul li {
	margin-top: 2%;
}

#articol h1{
	font-size: 2.2vw;
	text-align: center;
}

#articol img{
	display: block;
	margin: auto;
	width: 45vw;
}

#articol h2,
#articol h3{
	text-align: center;
}

#articol h3{
	margin-bottom: 5px;
}

#video{
	display: block;
	margin: auto;
	margin-bottom: 2vh;
	width:85vw;
	height:103vh;
}